body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}


nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #575757;
    border-radius: 4px;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.learning-activities, .information {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
}

ul li {
    text-decoration: none;
}

a{
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border-radius: 8px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    main {
        flex-direction: column;
    }
}
